sphinxcontrib-bibtex>=2.3.0
multipledispatch==0.6.0
scikit-learn
numpy
scipy>=1.0.0
torch>=1.4.0
tqdm>=4.24.0
numba>=0.43.0
pandas
torchvision
tensorboard

-i https://test.pypi.org/simple/
--extra-index-url https://pypi.org/simple/
-i https://test.pypi.org/simple/
--extra-index-url https://pypi.org/simple/ submodlib
